<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if user.is_authenticated %}
    <p>Welcome {{ request.user }}! </p>

    <form action="logout_user">
        <button type='submit'>Logout</button>
    </form>

    {% endif %}

    <form action="/login_user" method='post'>
        {% csrf_token %}
        {{form.as_p}}

        <button type='submit'>Login</button>
    </form>


    

    <a href="register">Register</a>


    {% if user.is_authenticated %}

    <form action="/createpost" method='post'>
        {% csrf_token %}
        <label for="Post">Text:</label>
        <input type="text" placeholder='Enter text' size="50" name='posttext'>
        <button type="submit">Create Post</button>
    </form>

    {% endif %}


</body>
</html>